<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>E-commerce</title>
    <link rel="stylesheet" href="/css/checkout.css">
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

</head>

<%- include('./repeat_views/header'); %>

    <body>

        <div class="page-container">

            <h2 style="font-weight: 300;">SEU PEDIDO</h2>

            <div class="checkout-container">

                <div class="bold border">
                    <p>Produtos</p>
                    <p>Total</p>
                </div>
               
                <div class="thin" id="products">
                    <!-- PRODUTOS -->
                    <% let total = 0; %>
                    <% for(let pedido of pedidos) { %>
                        <% total += parseFloat(pedido.valor_total) %>
                        <div >
                            <p> <%= pedido.nome %> x <%= pedido.quantidade %></p>
                            <p>R$ <%= pedido.valor_total %></p>
                          </div> 
                    <% } %>
                </div>

                <div class="border" id="subtotal">
                    <!-- SUBTOTAL -->
                    <p class="bold">Subtotal</p>
                    <p class="thin">R$ <%= total %> </p>
                </div>

                <div class="border" id="shipping">
                    <!-- FRETE -->
                    
                </div>

                <div class="user-info">
                    <p style="display: none;">#<%usuario.id %></p> 
                    <p> <%= usuario.nome %> </p>
                    <p><%= usuario.enderecoEntrega %></p>
                </div>

                <div class="bold border" id="total">
                    <!-- valor inserido via JS -->
                </div>  
            </div>

        </div>


    </body>

    <%- include('./repeat_views/footer'); %>

</html>